* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #cecbcb;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    background-color: #afabab;
    font-family: Arial, sans-serif;
}

.main {
    width: 70%;
    height: fit-content;
    min-height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    grid-column: 1/3;
    padding: 20px;
    background-color: #4caf50;
    background-color: rgb(255, 10, 222);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 44px;
    color: #fff;
}


.Input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #904caf;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #45a049;
}


.Output {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.Output label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}


.Input div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Output div {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.Output>div:first-child {
    max-height: 490px;
    overflow-y: scroll;
}

.Input div {
    margin-bottom: 20px;
}

#enteredWordOutput, #outputunit {
    background-color: #f0f8ff;
    /* AliceBlue */
    font-size: 17px;
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    overflow-y: auto;
    /* Use 'auto' to enable scroll if needed */
    max-height: 200px;
}



#categoryOutput {
    background-color: #f0e68c;
    padding: 10px;
    margin-bottom: 10px;
    /* Khaki */
}

#definitionOutput {
    background-color: #e6e6fa;
    /* Lavender */
}



.info {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.info label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
    display: block;
}

.info div {
    font-size: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f8ff;
    /* AliceBlue */
    color: #333;
}

.SImain {
    height: 115px;
}

.SIunit {
    display: flex;
    justify-content: space-between;
    height: 63px;
}

.SIinput {
    width: 100%;
    height: 40px;
    background-color: #f0f8ff;
    /* AliceBlue */
    font-size: 17px;
}

.SIdrop {
    height: 40px;
    width: 40%;
    border-radius: 4px;
    padding: 10px;
    background-color: #f0e68c;
    font-size: 17px;
}

@media (max-width: 768px) {
    .main {
        background-color: #fff;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .head {
        grid-column: 1/2;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .Input {
        grid-column: 1/2;
    }

    .Output {
        grid-column: 1/2;
    }

    label {
        font-size: 20px;
    }

    input[type="submit"] {
        font-size: 20px;
    }

    #enteredWordOutput,#outputunit {
        font-size: 20px;
    }

    #enteredWordOutput,#outputunit {
        font-size: 20px;
    }

    * {
        font-size: 20px;
    }

    .SImain {
        height: 190px;
    }

    .SIunit {
        display: flex;
        flex-direction: column;
        height: 63px;
    }

    .SIinput {
        width: 100%;
        height: 40px;
        background-color: #f0f8ff;
        /* AliceBlue */
        font-size: 17px;
    }

    .SIdrop {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
    }

    option {
        font-size: 15px;
    }
}